* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3.2fr minmax(20px);
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "sidebar main main"
    "sidebar searchbar searchbar";
}

.main {
  grid-area: main;
  height: 90vh;
  width: 81vw;
  background-color: peru;
}
.sidebar-bottom {
  grid-area: sidebar-bottom;
}

/* ------------SEARCHBAR----------------- */

.searchbar {
  grid-area: searchbar;
  height: 10vh;
  width: 81vw;
  background-color: orchid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbar-main {
  display: flex;
}

.searchbar-input {
  width: 50vw;
  height: 3rem;
  padding: 10px;
  border: none;
  font-size: 17px;
  border-radius: 5px 0 0 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchbar-btn {
  padding: 10px;
  background: white;
  border: none;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchbar-main button:hover {
  background: #ccc;
}
.searchbar-input {
  border: none;
  outline: none;
}
.searchbar-input:active {
  border: none;
  outline: none;
}

/* ------------SIDEBAR----------------- */

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  width: 19vw;
  background-color: rgb(32, 33, 35);
  color: #dedcd8;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.sidebar-header {
  height: 10vh;
}
.sidebar-header-icon-btn {
  color: white;
  background-color: rgb(32, 33, 35);
  border: 0.5px 0px 0.5px 0.5px solid white;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0.7rem;
}
.sidebar-header-btn {
  width: 18vw;
  height: 3rem;
  color: white;
  background-color: rgb(32, 33, 35);
  border: 0.5px solid white;
  cursor: pointer;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.sidebar-header-btn span {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  height: 73vh;
}

.sidebar-main-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 18vw;
  background-color: rgb(32, 33, 35);
  border-radius: 6px;
}
.sidebar-main-item p {
  font-size: 1.1rem;
}

.sidebar-main-item:hover {
  background-color: green;
}

.sidebar-footer {
  border-top: 1px solid white;
  width: 17vw;
}

.sidebar-footer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 18vw;
  background-color: rgb(32, 33, 35);
  border-radius: 6px;
}

.sidebar-footer-btn {
  background-color: rgb(250, 230, 159);
  height: 1.7rem;
  width: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
