* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* scrollbar  */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
  background: rgb(32, 33, 35);
}

/* Color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Hover style of the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

i {
  cursor: pointer;
}

/* ----------------------------CHAT PAGE------------------------------------------ */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3.2fr minmax(20px);
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "sidebar main main"
    "sidebar searchbar searchbar";
}

/* ------------SEARCHBAR----------------- */

.searchbar {
  grid-area: searchbar;
  height: 15vh;
  width: 81vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.searchbar-main {
  display: flex;
}

.searchbar-input {
  width: 50vw;
  height: 3rem;
  padding: 10px;
  border: none;
  font-size: 17px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchbar-btn {
  padding: 10px;
  background: white;
  border: none;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchbar-main button:hover {
  background: #ccc;
}
.searchbar-input {
  border: none;
  outline: none;
}
.searchbar-input:active {
  border: none;
  outline: none;
}

/* ------------SIDEBAR----------------- */

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  width: 19vw;
  background-color: rgb(32, 33, 35);
  color: #dedcd8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header {
  height: 10vh;
}
.sidebar-header-icon-btn {
  color: white;
  background-color: rgb(32, 33, 35);
  border: 0.5px 0px 0.5px 0.5px solid white;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0.7rem;
}
.sidebar-header-btn {
  width: 18vw;
  height: 3rem;
  color: white;
  background-color: rgb(32, 33, 35);
  border: 0px solid white;
  cursor: pointer;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.sidebar-header-btn span {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  height: 73vh;
  overflow-y: scroll;
}

.sidebar-main-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 18vw;
  background-color: rgb(32, 33, 35);
  border-radius: 6px;
}
.sidebar-main-item p {
  font-size: 1.1rem;
}

.sidebar-main-item:hover {
  background-color: rgba(0, 0, 0, 0.19);
}

.active {
  background-color: rgb(53, 53, 65);
}

.sidebar-footer {
  border-top: 1px solid white;
  width: 17vw;
}

.sidebar-footer-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 18vw;
  background-color: rgb(32, 33, 35);
  border-radius: 6px;
}

.sidebar-footer-btn {
  background-color: rgb(250, 230, 159);
  height: 1.7rem;
  width: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.avatar {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

/* ------------MAIN-CONTAINER----------------- */

.main {
  grid-area: main;
  height: 85vh;
  width: 81vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user,
.ai {
  display: flex;
  padding: 2rem 0;
}

.user {
  background-color: rgb(255, 255, 255);
  width: 81vw;
  display: flex;
  justify-content: center;
}
.ai {
  background-color: #f7f7f7;
  width: 81vw;
  display: flex;
  justify-content: center;
}

.avatarPic {
  width: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.avatarImg {
  vertical-align: middle;
  width: 35px;
  height: 35px;
}
.main-content {
  width: 50vw;
  display: flex;
  align-items: center;
}
.user p {
  font-size: 17px;
  font-weight: 400;
}
.ai p {
  font-size: 17px;
  font-weight: 400;
}

/* ----------------------------DASHBOARD PAGE------------------------------------------ */

.dashboardContainer {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Navbar Navbar Navbar"
    ". mainContent ."
    "Footer Footer Footer";
  height: 100vh;
  width: 100vw;
}

/* -------Navbar------- */
.Navbar {
  grid-area: Navbar;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid black;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-family: ColfaxAI, helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

nav img {
  height: 32px;
  width: auto;
}

.logo {
  display: inline-block;
  margin-left: 30px;
}

.nav-links {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
}

.nav-links li a:hover {
  border-bottom: 2px solid #fff;
}

/* -------Footer------- */

.Footer {
  grid-area: Footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: rgb(247, 247, 247);
}

.footer-main {
  display: flex;
}

.footer-main-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
  width: 15vw;
  margin-left: 4rem;
  text-align: center;
}
.footer-main-first a {
  text-decoration: none;
}
.footer-main-first p {
  line-height: 1;
  color: rgb(126, 126, 132);
}

/* -------DashContent------- */

.mainContent {
  grid-area: mainContent;
  height: 52vh;
  display: flex;
  justify-content: start;
}

.mainContent-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
